#site-footer {
    z-index: 100;
    border-bottom: 5px solid black;
    border-top: 5px solid black;
    background-color: #eeeeee;
}

#footer-contact-form {
    padding-top: 1em;
}

#author {
    font-family: var(--font-family-secondary);
}

#footer-contact-form button {
    margin: 20px 0;
    padding: 10px 30px;
    background-color: transparent;
    font-size: 2em;
}

#footer-contact-form button:hover {
    background-color: black;
}