#stocks {
    display: grid;
    grid-template-columns: repeat(1, minmax(200px, 1fr));
    position: relative;
}

.stock-card {
    border: 5px solid black;
    padding: 30px;
    background-color: white;
    transition: all .1s;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    gap: 20px;
}

.stock-card:hover {
    box-shadow: 5px 5px black;
    transform: translate(-5px, -5px);
}

.stock-card:hover {
    cursor: pointer;
}

.stock-card .stock-card-chart {
    align-self: stretch;
    position: relative;
    width: 50%;
}

.stock-card.stock-card-chart canvas {
    /* width: 100%; */
}

@media (min-width: 900px) {
    #stocks {
        grid-template-columns: repeat(2, minmax(200px, 1fr));
    }

    .stock-card {
        flex-direction: row;
        align-items: flex-start;
    }
}