#learn-main-content {
    background-color: whitesmoke;
}

.article-card img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.article-card {
    height: auto;
    overflow: hidden;
}

/* .image-wrapper{
    width: 50%;
} */

.article-card h4 {
    transition: opacity .5s;
}

.article-card:hover h4 {
    text-decoration: underline;
}
