#stock-actions-panel {
    flex: 1;
    border: 5px solid black;
    padding: 2rem;
    background-color: #ffffff;
    align-items: stretch;
    position: sticky;
    top: 129px;
    height: fit-content;
}

#stock-chart-wrapper {
    min-height: 80vh;
}

#quantity, #my-position {
    font-size: 2em;
    font-family: "effra-cc", sans-serif;
}

.icon-button {
    font-size: 3em;
    font-family: "effra-cc", sans-serif;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: black;
}

table {
    overflow-x: auto;
    width: 100%;
}

